<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  name: <input type="text" name="title">
  email: <input type="text" name="content">
  <input type="submit" value="submit">
</form>

